<div class="modal-form-errors modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">x</button>
        <h4>Whoops!</h4>
      </div>
      <div class="modal-body">It looks like there was a problem.
        <ul></ul>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>